 <header class="header">
     <nav class="nav">
         <a href='/' class="nav__logo">MOVIES</a>
         <form class="nav__form" action="/search" method="get">
             <input type="text" class="nav__input input" placeholder="What's on your watchlist?" name="title">
             <button class="nav__button secondary-btn absolute">Search</button>
         </form>
         <ion-icon class="icon-menu" size="large" name="menu-outline"></ion-icon>
         <div class="err_box">
             <p class="err">Something went wrong</p>
         </div>
     </nav>
 </header>
